.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}
.msry_gg{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px
}
.msry_gg li,.msry_mgg_ul li{
    list-style-type:none;
    margin: 4px auto;
}
.msry_gg_ul,.msry_mgg_ul{
    padding: 0px;
}
.msry_gg li{
    float: left;
    margin: 3px 0;
    display: inline-block;
    margin-left: 6px;
    width:  24.5%;
}

.msry_gg li img{
    width: 100%;
    height: 70px;
}
.msry_mgg{
    display: none;
}
.v_title{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 24px;
    display: block;
}
#hotVideo b,.thumb-info b{
    overflow: hidden; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        width:100%;
        display:block;
}
#videoType img,#top_video img,#bottom_video img{
    height: 205px;
}
.myVideo-dimensions{
    width: 100% !important;
    height: 700px !important;
}
#myVideo{
    max-height: 700px;
}
@media screen and (max-width: 1600px){
    .msry_gg li{
        width: 24.4%;
    }
    .msry_gg li img{
        height: 65px;
    }
    #videoType img{
        height: 147px;
    }
}
@media screen and (max-width: 1200px){
    .msry_gg li{
        width: 24.3%;
    }
    .msry_gg li img{
        height: 60px;
    }
    #videoType img{
        height: 122px;
    }
    #myVideo,.block-player{
        max-height: 600px;
    }
    #videoType img,#top_video img,#bottom_video img{
        height: 160px;
    }
}
@media screen and (max-width: 1024px){
    #myVideo,.block-player{
        max-height: 500px;
    }
}
@media screen and (max-width: 990px){
    .msry_gg li{
        width: 24.1%;
    }
    .msry_gg li img{
        height: 50px;
    }
    #videoType img{
        height: 122px;
    }
    #myVideo,.block-player{
        max-height: 500px;
    }
    #videoType img,#top_video img,#bottom_video img{
        height: 200px;
    }
}
@media screen and (max-width: 768px){
    .msry_gg li{
        width: 23.8%;
    }
    .msry_gg li img{
        height: 40px;
    }
    #videoType img{
        height: 88px;
    }
    .myVideo-dimensions{
        height: 400px !important;
    }
    #myVideo,.block-player{
        max-height: 400px;
    }
}

@media screen and (max-width: 576px){
    .msry_mgg{
        display: block;
    }
    .msry_gg{
        display: none;
    }
    #gg_container{
        padding: 0 10px;
        margin: 0 auto;
    }
    #gg_container img{
        width: 100%;
    }
    #videoType img{
        height: 150px;
    }
    #top_video img{
        height: 120px;
    }
    #hotVideo img{
        height: 200px;
    }
    #myVideo{
        max-height: 200px;
    }
}